

{% extends "home.html" %}

{% block content%}

<h1>Welcome</h1>
<hr>

<title>Rules</title>
<p><h1>Rock Paper Scissors</h1></p>
<p><h4>Rules of Engagement</h4></p>


    <p> Two players, each of them picks a weapon</p>

    <p> Weapons can be Rock, Paper or Scissors</p>

    <p> Rock wins Scissors but loses to Paper</p>

    <p> Paper wins Rock but loses to Scissors</p>

    <p> Scissors wins Paper but loses to Rock</p>
<hr>

<!-- <img src="https://www.vecteezy.com/vector-art/690792-rock-paper-scissors-hand-icons" alt="123" /> -->

<!-- <a href="https://www.vecteezy.com/vector-art/690792-rock-paper-scissors-hand-icons">Rock Paper Scissors Hand Icons Vectors by Vecteezy</a> -->

<form action="#">
    <label for="lang">Language</label>
    <select name="languages" id="lang">
      <option value="javascript">JavaScript</option>
      <option value="php">PHP</option>
      <option value="java">Java</option>
      <option value="golang">Golang</option>
      <option value="python">Python</option>
      <option value="c#">C#</option>
      <option value="C++">C++</option>
      <option value="erlang">Erlang</option>
    </select>
    <input type="submit" value="Submit" />
</form>

{% endblock %}

